.show {
  width: 100%;
  height: 278px;
  .show__center {
    width: 70%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 5px;
    div {
      width: 24%;
      height: inherit;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 242;
        border-radius: 7px;
      }
    }
  }
}
